.ant-progress-text {
    display: none !important;
}

.ant-progress-circle .ant-progress-text {
    display: inline-block !important;
}

.ant-progress-inner {
    background-color: #ededed !important;
}

.ant-progress-show-info .ant-progress-outer {
    margin-right: 0 !important;
    padding-right: 0 !important;
}

.ant-btn-primary {
    border-color: #105277 !important;
    background: #105277 !important;
    border-radius: 5px !important;
    font-size: 16px !important;
    display: flex;
    align-items: center;
}

.ant-btn:hover {
    border-color: #105277 !important;
    background: white;
    color: #105277 !important;
}

.ant-btn-primary:hover {
    border-color: #105277d4 !important;
    background: #105277d4 !important;
    color: white !important;

}