.ant-progress-text {
    display: none !important;
}

.ant-progress-circle .ant-progress-text {
    display: inline-block !important;
}

.ant-progress-inner {
    background-color: #ededed !important;
}

.ant-progress-circle .ant-progress-inner {
    background-color: transparent !important;
}

.ant-progress-show-info .ant-progress-outer {
    margin-right: 0 !important;
    padding-right: 0 !important;
}

.ant-btn-primary {
    border-color: #105277 !important;
    background: linear-gradient(#105277, #00314C) !important;
    border-radius: 5px !important;
    font-size: 16px !important;
    display: flex;
    align-items: center;
}

.ant-btn:hover {
    border-color: #105277 !important;
    background: white;
    color: #105277 !important;
}

.ant-btn-primary:hover {
    border-color: #105277d4 !important;
    background: linear-gradient(#105277, #00314C) !important;
    color: white !important;

}

.ant-progress-circle .ant-progress-inner {
    width: 80px !important;
    height: 80px !important;
}

.d-none {
    display: none !important;
}

.ant-menu {
    padding: 0 4px !important;
}

.ant-menu-submenu,
.ant-menu-submenu-inline {
    border-radius: 8px;
    margin-bottom: 12px;
}

.ant-menu-submenu-title {
    background: #ddd8d8;
    margin: 0 !important;
    height: 62px !important;
    border-radius: 8px;
    color: #00314c;
    font-size: 18px;
    line-height: 20px;
    font-weight: 700;
}

.ant-menu-inline.ant-menu-root .ant-menu-item {
    background: #ececec;
    height: 48px;
    border-radius: 8px;
}

.ant-menu-title-content {
    font-size: 16px;
    font-weight: 700;
    color: #385768;

}

.ant-menu-inline .ant-menu-item {
    margin: 8px 0 !important;
}

@media screen and (max-width: 767px) {
    .ant-menu-inline.ant-menu-root .ant-menu-item {
        padding-left: 16px !important;
    }
}